<div class="row">
    <div class="col-lg-9">
        <h3>
        {{#if link}}
            {{ link_to link title }} {{ link_to_permalink path title }}
        {{else}}
            {{ link_to path title }}
        {{/if}}
        </h3>
    </div>
    <div class="col-lg-3">
        <small>{{ format_date_only date }}</small>
    </div>
</div>
