<div class="row">
    <article class="col-lg-9">
        {{#if link}}
            {{{ contents }}}
            <p>{{ link_to_permalink path title }}</p>
        {{else}}
            {{{ excerpt }}}
            <p>{{ continue_reading path title }}</p>
        {{/if}}
    </article>
    <aside class="col-lg-3">
        <div class="row">
            {{#ifDaySame stats.mtime date }}
                <div class="col-sm-3 col-lg-12">
                    <h4 class="meta-description">Published</h4>
                    <p  class="meta-description--contents">{{ format_date stats.mtime }}</p>
                </div>
            {{else}}
                <div class="col-sm-3 col-lg-12">
                    <h4 class="meta-description">Last updated</h4>
                    <p  class="meta-description--contents">{{ format_date stats.mtime }}</p>
                </div>
            {{/ifDaySame}}
        </div>
    </aside>
</div>
